.white-player {
  fill: #fff !important;
  stroke: #000 !important;
  stroke-width: 10px !important;
}

.black-player {
  fill: #000 !important;
  stroke: #fff !important;
  stroke-width: 10px !important;
}

.capture {
  animation: fade-out 0.5s forwards;
}

.square {
  transition: transform 0.3s ease !important;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
