.white-player {
  fill: #fff !important;
  stroke: #000 !important;
  stroke-width: 10px !important;
}

.black-player {
  fill: #000 !important;
  stroke: #fff !important;
  stroke-width: 10px !important;
}

